.parent {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.modern {
    background: #f5f5fa;
    border: 1px;
    border-radius: 8px;
    color: #2a1f62;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 15px;
}

.modern:hover {
    background: #f8f8ff;
    box-shadow: -15px -15px 30px 0 #fff, 15px 15px 30px 0 #1d0dca17;
  }

.modernInput {
    border: none;
    background: transparent;
    line-height: normal;
    padding: 5px;
    background-color: white;
}

.modernInput:focus {
    outline-color: transparent;
}
